body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.about-us {
  background-color: #ffffff;
  margin: 5rem auto;
  padding: 20px;
  max-width: 1200px;
}

.about-us-heading {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  color: #007777;
  margin-bottom: 20px;
}

.about-us-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

/* Ensure the image section scales properly */
.about-us-photo {
  flex: 1;
  min-width: 300px;
  background-image: url("../../assets/pic4.jpeg");
  background-size: cover;
  background-position: center;
  height: 60vh;
  border-radius: 10px;
}

/* Adjust text content */
.about-us-text {
  flex: 2;
  padding-left: 20px;
  font-size: 18px;
  color: #191919;
}

.about-us-text p {
  margin-bottom: 15px;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .about-us-content {
    flex-direction: column;
    align-items: center;
  }

  .about-us-photo {
    width: 100%;
    height: 40vh;
    margin-bottom: 20px;
  }

  .about-us-text {
    padding-left: 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .about-us-heading {
    font-size: 24px;
  }

  .about-us-text {
    font-size: 16px;
  }
}
