.blog-management-container {
  padding: 16px;
  background-color: #f0f2f5;
  margin-top: 20vh;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
} */

.blog-container {
  gap: 20px;
  padding: 20px;
  margin-top: 50px;
  animation: fadeIn 0.5s ease-in-out;
}

.blog-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.blog-card {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
