.TestOffered {
  padding: 20px;
  margin-top: 10vh;
}

.lab-details-container {
  padding: 20px;
  margin-top: 10vh;
  margin-left: 20vw;
}

.lab-details-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.lab-logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
}
.lab-name {
  font-size: 24px;
  font-weight: bold;
}

.lab-details-content {
  margin-top: 20px;
}

.lab-details-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.lab-details-content p {
  margin-bottom: 10px;
}

.lab-details-content ul {
  list-style-type: none;
  padding: 0;
}

.lab-details-content li {
  margin-bottom: 5px;
}

.lab-details-content li strong {
  font-weight: bold;
}

.lab-details-content li span {
  margin-left: 5px;
}
