.ant-typography {
  color: #001529;
}

.ant-slider-track {
  background-color: #1890ff;
}

.ant-input-number {
  border-radius: 8px;
}

.ant-btn-primary {
  background-color: aqua;
  color: rgb(29, 32, 31);
  border: none;
}
