.ant-collapse-header {
  font-weight: bold;
}

.ant-radio-wrapper {
  padding: 8px 0;
  font-size: 14px;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #1890ff;
}

.ant-collapse-item {
  margin-bottom: 8px;
}

.ant-typography {
  color: #001529;
}
