/* AboutUs.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.details{
  margin-top: 10vh;
}
.labs-details {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 50px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 20px;
}

.search-bar {
  flex: 1;
  background-color: #ffffff;
  padding: 5px 10px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 30%;
}

.nav-items a {
  margin: 0 10px;
  text-decoration: none;
  color: #191919;
}

.nav-items a:hover {
  color: #007BFF;
}

.profile {
  margin-left: auto;
  position: relative;
  cursor: pointer;
  margin-right: 30px;
}

.profile-dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.profile-dropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #191919;
}

.profile-dropdown a:hover {
  background-color: #ffffff;
}

.about-us {
  padding: 20px;
  background-color: #ffffff;
}

.about-us-heading {
  text-align: left;
  font-size: 32px;
  color: #56BBB3;
  margin-bottom: 20px;
  width: 80%;
}

.details-button {

  width: 10%;
}

.about-us-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about-us-photo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.about-us-text {
  flex: 2;
  padding-left: 20px;
  font-size: 18px;
  color: #191919;
}

.about-us-text p {
  margin-bottom: 15px;
}