.homeSlider {
  width: 100%;
  margin-top: 5px;
  padding: 0;
  box-sizing: border-box;
}

.slick-slide > div {
  margin: 0 2px;
}

.slick-list {
  margin: 0;
}

.slider-card {
  margin: 20px;
  border: 2px solid #ededed;
  box-shadow: 0px 10px 8px #727f7e;
  cursor: pointer;
  max-width: 70%;
  max-height: 60%;
  overflow: hidden;
  color: #ffffff;
}

.card {
  margin: 10px;
  border: 2px solid #ededed;
  box-shadow: 0px 10px 8px #727f7e;
  cursor: pointer;
  width: calc(25% - 20px);
  max-height: 100%;
  overflow: hidden;
  color: #ffffff;
}

.card-top span {
  font-size: 0.8rem;
  margin-top: 15px;
  color: #56BBB3;
  padding: 0 15px;
  text-align: center;
  display: block;
}

.card-top > img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.card-bottom {
  margin: 10px 0;
}

.card-bottom button {
  font-size: 16px;
}

.location {
  display: flex;
  justify-content: center !important;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  color: #56BBB3;
}

.location p {
  font-size: 12px;
  color: #191919;
  min-height: 40px;
  margin: 0;
}

@media screen and (min-width: 1400px) {
  .location p {
    min-height: 50px;
  }
}

.location-icon {
  font-size: 0.8rem;
}

.tests {
  background-color: #56BBB3;
  width: 100%;
  padding: 10px !important;
}

.category {
  position: fixed;
}

.lab-info-listing {
  display: flex;
  justify-content: center;
  color: #56BBB3;;
}

.lab-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20vw;
  margin-top: 10vh;
  justify-content: flex-start;
}