.homeSlider {
  width: 100%;
  margin: 2;
  margin-top: 5px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slick-slide>div {
  margin: 2 2px;
}

.slick-list {
  margin: 1 0px;
}
.slider-card {
  /* border: 0px solid #ffffff; */
  margin: 20px;
  border: 2px solid #ededed;
  box-shadow: 0px 10px 8px #727f7e;
  cursor: pointer;
  max-width: 70%;
  max-height: 60%;
  overflow: hidden;
  color: #ffffff;
  cursor: pointer;
}

.card {
  /* border: 0px solid #ffffff; */
  margin: 20px;
  border: 2px solid #ededed;
  box-shadow: 0px 10px 8px #727f7e;
  cursor: pointer;
  max-width: 30%;
  max-height: 20%;
  overflow: hidden;
  color: #ffffff;
  cursor: pointer;
}

.card-top span {
  font-size: 0.8rem;
  margin-top: 15px;
  /* width: 300px; */
  color: #007777;
  /* margin-left: 5vw; */
  padding: 0 15px;
  text-align: center;
}

/* .card-top h2 {
  font-size: 0.5rem;
  margin-top: 1vh;
  width: 300px;
  color: #007777;
  margin-left: 5vw;
} */

.card-top>img {
  width: 100%;
  object-fit: fill;
  height: 50vh;
}

.card-bottom {
  margin: 10px 0px 0;

  button {
    font-size: 16px;
  }
}

.location {
  display: flex;
  justify-content: center !important;
  gap: 10px;
  padding: 0 10px;

  p {
    font-size: 12px;
    color: #191919;
    min-height: 40px;

    @media screen and (min-width: 1400px) {
      min-height: 50px;
    }
  }
}

.location-icon {
  font-size: 0.8rem;
}


.tests {
  background-color: #17f0de;
  width: 100%;
  padding: 10px !important;
  /* margin-top: 10vh; */
}

.category {
  position: fixed;
}

.lab-info-listing {
  display: flex;
  justify-content: center;
}